<a href="https://colab.research.google.com/github/14-shru/Major-Project/blob/main/Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/dataset/fycdata1.csv',encoding='windows-1254')

In [ ]:
df

,c_code,h_u,cn,B_N,B_C,OPEN,SC,ST,VJ,NT1,...,VJ_OH,OBC_OH,NT1_OH,NT2_OH,NT3_OH,PWD,DEF,TFWS,EWS,MI
0,1002.0,Sant Gadge Baba Amravati University,"Government College of Engineering, Amravati",Civil Engineering,100219110.0,80.627048,69.971831,47.158209,76.180109,77.066692,...,49.90823,49.293596,53.492848,50.845147,54.414164,45.784335,37.646973,89.407761,70.213583,0.0
1,1002.0,Sant Gadge Baba Amravati University,"Government College of Engineering, Amravati",Computer Science and Engineering,100224210.0,96.910215,94.877150,79.785140,91.141989,95.844880,...,49.90823,49.293596,53.492848,50.845147,54.414164,50.999669,76.575655,97.313433,95.705958,0.0
2,1002.0,Sant Gadge Baba Amravati University,"Government College of Engineering, Amravati",Information Technology,100224610.0,95.363469,92.372221,79.324889,91.103877,91.614983,...,49.90823,49.293596,53.492848,50.845147,54.414164,43.300213,85.848519,95.920972,94.701578,0.0
3,1002.0,Sant Gadge Baba Amravati University,"Government College of Engineering, Amravati",Electrical Engineering,100229310.0,85.687063,82.285904,61.226979,75.417805,85.404358,...,49.90823,49.293596,53.492848,50.845147,54.414164,69.168597,34.769810,89.919237,80.871831,0.0
4,1002.0,Sant Gadge Baba Amravati University,"Government College of Engineering, Amravati",Electronics and Telecommunication Engg,100237210.0,91.969178,87.713674,44.607596,79.994973,89.020917,...,49.90823,49.293596,53.492848,50.845147,54.414164,27.595494,80.257052,93.714119,91.186473,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1153,6649.0,Savitribai Phule Pune University,TSSM's Bhivarabai Sawant College of Engineeri...,Mechanical Engineering,664961210.0,10.771849,46.463102,39.092771,52.077235,53.037538,...,49.90823,49.293596,53.492848,50.845147,54.414164,45.784335,9.944536,77.933779,10.646550,0.0
1154,6732.0,Savitribai Phule Pune University,"Dr. D. Y. Patil School OF Engineering, Lohega...",Civil Engineering,673219110.0,31.364660,46.463102,39.092771,52.077235,53.037538,...,49.90823,49.293596,53.492848,50.845147,54.414164,45.784335,54.537104,77.933779,19.847440,0.0
1155,6732.0,Savitribai Phule Pune University,"Dr. D. Y. Patil School OF Engineering, Lohega...",Computer Engineering,673224510.0,86.873430,74.752348,35.698374,65.785425,72.550832,...,49.90823,49.293596,53.492848,50.845147,54.414164,57.063856,81.977805,91.897928,87.082806,0.0
1156,6732.0,Savitribai Phule Pune University,"Dr. D. Y. Patil School OF Engineering, Lohega...",Electronics and Telecommunication Engg,673237210.0,NaN,46.463102,39.092771,52.077235,53.037538,...,49.90823,49.293596,53.492848,50.845147,54.414164,45.784335,54.537104,77.933779,48.467351,0.0
1157,6732.0,Savitribai Phule Pune University,"Dr. D. Y. Patil School OF Engineering, Lohega...",Mechanical Engineering,673261210.0,NaN,46.463102,39.092771,52.077235,53.037538,...,49.90823,49.293596,53.492848,50.845147,54.414164,45.784335,54.537104,77.933779,48.467351,0.0

In [ ]:
df.isnull().sum().sum()

190

In [ ]:
df.interpolate()

,c_code,h_u,cn,B_N,B_C,OPEN,SC,ST,VJ,NT1,...,VJ_OH,OBC_OH,NT1_OH,NT2_OH,NT3_OH,PWD,DEF,TFWS,EWS,MI
0,1002.0,Sant Gadge Baba Amravati University,"Government College of Engineering, Amravati",Civil Engineering,100219110.0,80.627048,69.971831,47.158209,76.180109,77.066692,...,49.90823,49.293596,53.492848,50.845147,54.414164,45.784335,37.646973,89.407761,70.213583,0.0
1,1002.0,Sant Gadge Baba Amravati University,"Government College of Engineering, Amravati",Computer Science and Engineering,100224210.0,96.910215,94.877150,79.785140,91.141989,95.844880,...,49.90823,49.293596,53.492848,50.845147,54.414164,50.999669,76.575655,97.313433,95.705958,0.0
2,1002.0,Sant Gadge Baba Amravati University,"Government College of Engineering, Amravati",Information Technology,100224610.0,95.363469,92.372221,79.324889,91.103877,91.614983,...,49.90823,49.293596,53.492848,50.845147,54.414164,43.300213,85.848519,95.920972,94.701578,0.0
3,1002.0,Sant Gadge Baba Amravati University,"Government College of Engineering, Amravati",Electrical Engineering,100229310.0,85.687063,82.285904,61.226979,75.417805,85.404358,...,49.90823,49.293596,53.492848,50.845147,54.414164,69.168597,34.769810,89.919237,80.871831,0.0
4,1002.0,Sant Gadge Baba Amravati University,"Government College of Engineering, Amravati",Electronics and Telecommunication Engg,100237210.0,91.969178,87.713674,44.607596,79.994973,89.020917,...,49.90823,49.293596,53.492848,50.845147,54.414164,27.595494,80.257052,93.714119,91.186473,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1153,6649.0,Savitribai Phule Pune University,TSSM's Bhivarabai Sawant College of Engineeri...,Mechanical Engineering,664961210.0,10.771849,46.463102,39.092771,52.077235,53.037538,...,49.90823,49.293596,53.492848,50.845147,54.414164,45.784335,9.944536,77.933779,10.646550,0.0
1154,6732.0,Savitribai Phule Pune University,"Dr. D. Y. Patil School OF Engineering, Lohega...",Civil Engineering,673219110.0,31.364660,46.463102,39.092771,52.077235,53.037538,...,49.90823,49.293596,53.492848,50.845147,54.414164,45.784335,54.537104,77.933779,19.847440,0.0
1155,6732.0,Savitribai Phule Pune University,"Dr. D. Y. Patil School OF Engineering, Lohega...",Computer Engineering,673224510.0,86.873430,74.752348,35.698374,65.785425,72.550832,...,49.90823,49.293596,53.492848,50.845147,54.414164,57.063856,81.977805,91.897928,87.082806,0.0
1156,6732.0,Savitribai Phule Pune University,"Dr. D. Y. Patil School OF Engineering, Lohega...",Electronics and Telecommunication Engg,673237210.0,86.873430,46.463102,39.092771,52.077235,53.037538,...,49.90823,49.293596,53.492848,50.845147,54.414164,45.784335,54.537104,77.933779,48.467351,0.0
1157,6732.0,Savitribai Phule Pune University,"Dr. D. Y. Patil School OF Engineering, Lohega...",Mechanical Engineering,673261210.0,86.873430,46.463102,39.092771,52.077235,53.037538,...,49.90823,49.293596,53.492848,50.845147,54.414164,45.784335,54.537104,77.933779,48.467351,0.0

In [ ]:
train_data, test_data = train_test_split(df, test_size=0.2)

In [ ]:
train_data

,c_code,h_u,cn,B_N,B_C,OPEN,SC,ST,VJ,NT1,...,VJ_OH,OBC_OH,NT1_OH,NT2_OH,NT3_OH,PWD,DEF,TFWS,EWS,MI
409,3197.0,Mumbai University,Agnel Charities' FR. C. Rodrigues Institute o...,Mechanical Engineering,319761210.0,56.896894,46.463102,39.092771,52.077235,53.037538,...,49.90823,49.293596,53.492848,50.845147,54.414164,45.784335,54.537104,83.914298,48.467351,NaN
427,3200.0,Mumbai University,Hope Foundation and research center's Finolex...,Mechanical Engineering,320061210.0,34.150914,0.439571,39.092771,52.077235,14.235661,...,49.90823,49.293596,53.492848,50.845147,54.414164,45.784335,54.537104,77.933779,2.856737,0.0
806,4304.0,Un aided,"Cummins College of Engineering For Women, Sukh...",Computer Engineering,NaN,82.673386,70.098851,46.445632,52.077235,72.770241,...,49.90823,84.382602,53.492848,50.845147,54.414164,15.101385,35.955685,77.933779,81.999526,0.0
278,3036.0,Deemed to be University,"Institute of Chemical Technology, Matunga, Mu...","Oil,Oleochemicals and Surfactants Technology",303651210.0,96.774504,92.234648,23.482949,38.641709,53.037538,...,49.90823,49.293596,53.492848,50.845147,54.414164,45.784335,54.537104,96.608932,89.528449,0.0
868,5121.0,Savitribai Phule Pune University,K. K. Wagh Institute of Engineering Education ...,Computer Science and Design,512125710.0,87.980227,76.668695,70.478956,81.030456,84.233261,...,49.90823,49.293596,53.492848,50.845147,54.414164,45.784335,77.454939,94.037632,86.312255,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
940,5164.0,Dr. Babasaheb Ambedkar Technological Universit...,P.S.G.V.P. Mandal's D.N. Patel College of Engi...,Mechanical Engineering,516461210.0,14.883198,46.463102,39.092771,52.077235,53.037538,...,49.90823,49.293596,53.492848,50.845147,54.414164,45.784335,54.537104,77.933779,48.467351,NaN
605,4004.0,Gondwana University,"Government College of Engineering, Chandrapur",Instrumentation Engineering,400446610.0,13.399603,46.463102,39.092771,52.077235,53.037538,...,49.90823,25.036721,53.492848,50.845147,54.414164,45.784335,54.537104,77.933779,51.235901,0.0
234,2508.0,Dr. Babasaheb Ambedkar Technological Universit...,GRAMIN TECHNICAL AND MANAGEMENT CAMPUS NANDED.,Food Technology,250850310.0,39.592514,46.463102,39.092771,52.077235,53.037538,...,49.90823,49.293596,53.492848,50.845147,54.414164,45.784335,54.537104,77.933779,25.036721,0.0
54,1120.0,Sant Gadge Baba Amravati University,Jawaharlal Darda Institute of Engineering and ...,Electrical Engineering,112029310.0,35.766742,46.463102,39.092771,52.077235,53.037538,...,49.90823,49.293596,53.492848,50.845147,54.414164,45.784335,54.537104,77.933779,48.467351,0.0
283,3036.0,Deemed to be University,"Institute of Chemical Technology, Matunga, Mu...",Surface Coating Technology,303672910.0,96.059162,91.229566,39.092771,52.077235,86.204442,...,49.90823,49.293596,53.492848,50.845147,54.414164,25.838111,54.537104,96.755427,86.916247,0.0

In [ ]:
test_data

,c_code,h_u,cn,B_N,B_C,OPEN,SC,ST,VJ,NT1,...,VJ_OH,OBC_OH,NT1_OH,NT2_OH,NT3_OH,PWD,DEF,TFWS,EWS,MI
61,1121.0,Sant Gadge Baba Amravati University,Shri Hanuman Vyayam Prasarak Mandals College o...,Electronics and Telecommunication Engg,112137210.0,64.828411,60.240528,39.092771,39.608181,53.037538,...,49.908230,48.770084,53.492848,50.845147,54.414164,45.784335,54.537104,66.024812,39.871352,0.00000
1139,6643.0,Punyashlok Ahilyadevi Holkar Solapur University,"S K N Sinhgad College of Engineering, Korti T...",Civil Engineering,664319110.0,35.214862,5.736441,39.092771,25.790600,53.037538,...,49.908230,10.771849,53.492848,21.231705,54.414164,45.784335,54.537104,77.933779,34.666856,0.00000
136,2111.0,Dr. Babasaheb Ambedkar Marathwada University,"Everest Education Society, Group of Institutio...",Electrical Engineering,211129310.0,6.234246,46.463102,39.092771,52.077235,53.037538,...,49.908230,49.293596,53.492848,50.845147,54.414164,45.784335,54.537104,77.933779,48.467351,36.15941
192,2134.0,Dr. Babasaheb Ambedkar Technological Universit...,Peoples Education Society's College of Enginee...,Electrical Engineering,213429310.0,1.289918,46.463102,39.092771,52.077235,53.037538,...,49.908230,49.293596,53.492848,50.845147,54.414164,45.784335,54.537104,77.933779,23.482949,0.00000
269,3033.0,Dr. Babasaheb Ambedkar Technological Universit...,Dr. Babasaheb Ambedkar Technological Universit...,Petro Chemical Engineering,303352710.0,27.374672,46.463102,39.092771,52.077235,53.037538,...,49.908230,49.293596,53.492848,50.845147,54.414164,45.784335,54.537104,77.933779,1.435085,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,6628.0,Savitribai Phule Pune University,"Dattakala Group Of Institutions, Swami - Chin...",Electrical Engineering,662829310.0,0.421701,46.463102,39.092771,52.077235,53.037538,...,49.908230,49.293596,53.492848,50.845147,54.414164,45.784335,54.537104,77.933779,1.544383,0.00000
107,1268.0,Sant Gadge Baba Amravati University,"Siddhivinayak Technical Campus, School of Engi...",Civil Engineering,126819110.0,18.324967,46.463102,39.092771,52.077235,53.037538,...,49.908230,49.293596,53.492848,50.845147,54.414164,45.784335,54.537104,77.933779,48.467351,0.00000
931,5162.0,Savitribai Phule Pune University,Amrutvahini Sheti & Shikshan Vikas Sanstha's ...,Electronics and Telecommunication Engg,516237210.0,83.814652,57.353045,21.231705,61.881449,78.281420,...,52.824641,70.905008,53.492848,43.305113,54.414164,45.784335,31.773458,87.122612,77.066692,0.00000
989,5182.0,Savitribai Phule Pune University,"Kalyani Charitable Trust, Late Gambhirrao Natu...",Computer Engineering,518224510.0,66.963160,39.515489,39.092771,57.929259,61.467354,...,49.908230,65.850054,53.492848,50.845147,54.414164,45.784335,54.537104,77.031131,61.881449,0.00000
795,4197.0,Un aided,"Jai Mahakali Shikshan Sanstha, Agnihotri Colle...",Computer Science and Engineering,419724210.0,34.245051,6.758634,39.092771,52.077235,53.037538,...,49.908230,49.052570,53.492848,50.845147,54.414164,45.784335,54.537104,51.107204,53.730279,0.00000

In [ ]:
df1=pd.DataFrame(df,columns= ['c_code','B_C','OPEN','SC','ST','VJ','NT1','NT2','NT3','OBC','OPEN_OH','SC_OH','ST_OH','VJ_OH',
 'OBC_OH','NT2_OH','NT3_OH','PWD','DEF','TFWS','EWS','MI'])
df1

,c_code,B_C,OPEN,SC,ST,VJ,NT1,NT2,NT3,OBC,...,ST_OH,VJ_OH,OBC_OH,NT2_OH,NT3_OH,PWD,DEF,TFWS,EWS,MI
0,1002.0,100219110.0,80.627048,69.971831,47.158209,76.180109,77.066692,63.408306,72.576506,75.581452,...,39.696712,49.90823,49.293596,50.845147,54.414164,45.784335,37.646973,89.407761,70.213583,0.0
1,1002.0,100224210.0,96.910215,94.877150,79.785140,91.141989,95.844880,93.646629,94.147125,96.361296,...,39.696712,49.90823,49.293596,50.845147,54.414164,50.999669,76.575655,97.313433,95.705958,0.0
2,1002.0,100224610.0,95.363469,92.372221,79.324889,91.103877,91.614983,92.529441,88.982370,95.116803,...,39.696712,49.90823,49.293596,50.845147,54.414164,43.300213,85.848519,95.920972,94.701578,0.0
3,1002.0,100229310.0,85.687063,82.285904,61.226979,75.417805,85.404358,82.567085,78.147358,84.748026,...,39.696712,49.90823,49.293596,50.845147,54.414164,69.168597,34.769810,89.919237,80.871831,0.0
4,1002.0,100237210.0,91.969178,87.713674,44.607596,79.994973,89.020917,87.264099,85.837479,91.969104,...,39.696712,49.90823,49.293596,50.845147,54.414164,27.595494,80.257052,93.714119,91.186473,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1153,6649.0,664961210.0,10.771849,46.463102,39.092771,52.077235,53.037538,57.037530,57.047770,52.067967,...,39.696712,49.90823,49.293596,50.845147,54.414164,45.784335,9.944536,77.933779,10.646550,0.0
1154,6732.0,673219110.0,31.364660,46.463102,39.092771,52.077235,53.037538,57.037530,57.047770,52.067967,...,39.696712,49.90823,49.293596,50.845147,54.414164,45.784335,54.537104,77.933779,19.847440,0.0
1155,6732.0,673224510.0,86.873430,74.752348,35.698374,65.785425,72.550832,80.388682,87.027500,84.723732,...,39.696712,49.90823,49.293596,50.845147,54.414164,57.063856,81.977805,91.897928,87.082806,0.0
1156,6732.0,673237210.0,NaN,46.463102,39.092771,52.077235,53.037538,57.037530,57.047770,52.067967,...,39.696712,49.90823,49.293596,50.845147,54.414164,45.784335,54.537104,77.933779,48.467351,0.0
1157,6732.0,673261210.0,NaN,46.463102,39.092771,52.077235,53.037538,57.037530,57.047770,52.067967,...,39.696712,49.90823,49.293596,50.845147,54.414164,45.784335,54.537104,77.933779,48.467351,0.0

In [ ]:
df1.isnull().values.any()

True

In [ ]:
df1.isnull().sum().sum()

190

In [ ]:
df1.dropna(inplace=True)
print(df1)

      c_code          B_C       OPEN         SC         ST         VJ  \
0     1002.0  100219110.0  80.627048  69.971831  47.158209  76.180109
1     1002.0  100224210.0  96.910215  94.877150  79.785140  91.141989
2     1002.0  100224610.0  95.363469  92.372221  79.324889  91.103877
3     1002.0  100229310.0  85.687063  82.285904  61.226979  75.417805
4     1002.0  100237210.0  91.969178  87.713674  44.607596  79.994973
...      ...          ...        ...        ...        ...        ...
1151  6649.0  664929310.0   5.026062  46.463102  39.092771  52.077235
1152  6649.0  664937210.0  65.645289  18.840167  39.092771  52.077235
1153  6649.0  664961210.0  10.771849  46.463102  39.092771  52.077235
1154  6732.0  673219110.0  31.364660  46.463102  39.092771  52.077235
1155  6732.0  673224510.0  86.873430  74.752348  35.698374  65.785425

            NT1        NT2        NT3        OBC  ...      ST_OH      VJ_OH  \
0     77.066692  63.408306  72.576506  75.581452  ...  39.696712  49.908230
1     95.844880  93.646629  94.147125  96.361296  ...  39.696712  49.908230
2     91.614983  92.529441  88.982370  95.116803  ...  39.696712  49.908230
3     85.404358  82.567085  78.147358  84.748026  ...  39.696712  49.908230
4     89.020917  87.264099  85.837479  91.969104  ...  39.696712  49.908230
...         ...        ...        ...        ...  ...        ...        ...
1151  53.037538  57.037530  57.047770  52.067967  ...  39.696712  49.908230
1152  43.305113  51.260095  56.765059  61.839352  ...  39.696712  45.988408
1153  53.037538  57.037530  57.047770  52.067967  ...  39.696712  49.908230
1154  53.037538  57.037530  57.047770  52.067967  ...  39.696712  49.908230
1155  72.550832  80.388682  87.027500  84.723732  ...  39.696712  49.908230

         OBC_OH     NT2_OH     NT3_OH        PWD        DEF       TFWS  \
0     49.293596  50.845147  54.414164  45.784335  37.646973  89.407761
1     49.293596  50.845147  54.414164  50.999669  76.575655  97.313433
2     49.293596  50.845147  54.414164  43.300213  85.848519  95.920972
3     49.293596  50.845147  54.414164  69.168597  34.769810  89.919237
4     49.293596  50.845147  54.414164  27.595494  80.257052  93.714119
...         ...        ...        ...        ...        ...        ...
1151   8.259644  50.845147  54.414164  45.784335  54.537104  77.933779
1152  73.274276  67.482418  54.414164  45.784335  42.653117  79.074633
1153  49.293596  50.845147  54.414164  45.784335   9.944536  77.933779
1154  49.293596  50.845147  54.414164  45.784335  54.537104  77.933779
1155  49.293596  50.845147  54.414164  57.063856  81.977805  91.897928

            EWS   MI
0     70.213583  0.0
1     95.705958  0.0
2     94.701578  0.0
3     80.871831  0.0
4     91.186473  0.0
...         ...  ...
1151  25.460330  0.0
1152  71.236742  0.0
1153  10.646550  0.0
1154  19.847440  0.0
1155  87.082806  0.0

[973 rows x 22 columns]

In [ ]:
df1.dtypes

c_code     float64
B_C        float64
OPEN       float64
SC         float64
ST         float64
VJ         float64
NT1        float64
NT2        float64
NT3        float64
OBC        float64
OPEN_OH    float64
SC_OH      float64
ST_OH      float64
VJ_OH      float64
OBC_OH     float64
NT2_OH     float64
NT3_OH     float64
PWD        float64
DEF        float64
TFWS       float64
EWS        float64
MI         float64
dtype: object

In [ ]:
train_data, test_data = train_test_split(df1, test_size=0.2)
test_labels = train_test_split(df1.drop('B_C', axis=1), df1['B_C'], test_size=0.2)

In [ ]:
train_data

,c_code,B_C,OPEN,SC,ST,VJ,NT1,NT2,NT3,OBC,...,ST_OH,VJ_OH,OBC_OH,NT2_OH,NT3_OH,PWD,DEF,TFWS,EWS,MI
121,2020.0,202019110.0,75.426534,66.184372,39.092771,65.482246,59.214550,54.235690,74.175343,67.456223,...,39.696712,49.908230,49.293596,50.845147,54.414164,12.202004,54.537104,82.424443,75.350865,0.0
76,1127.0,112719110.0,37.206627,9.452185,39.092771,32.106136,5.559505,57.037530,57.047770,29.091209,...,39.696712,49.908230,49.293596,50.845147,54.414164,45.784335,54.537104,39.608181,48.467351,0.0
111,1268.0,126861210.0,35.147588,46.463102,39.092771,52.077235,53.037538,57.037530,57.047770,52.067967,...,39.696712,49.908230,49.293596,50.845147,54.414164,45.784335,54.537104,77.933779,48.467351,0.0
580,3467.0,346791110.0,58.108684,12.177379,39.092771,59.063929,53.037538,55.264664,22.169426,48.923424,...,39.696712,49.908230,2.757158,50.845147,54.414164,45.784335,49.556541,75.847196,56.582660,0.0
592,3477.0,347719110.0,7.070946,46.463102,39.092771,52.077235,53.037538,57.037530,57.047770,52.067967,...,39.696712,49.908230,49.293596,50.845147,54.414164,45.784335,54.537104,77.933779,48.467351,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,2533.0,253319110.0,28.590455,5.725619,39.092771,13.771329,53.037538,28.160592,12.219415,11.705087,...,39.696712,49.908230,25.036721,50.845147,54.414164,45.784335,54.537104,77.933779,39.158254,0.0
495,3218.0,321924610.0,82.037501,46.463102,39.092771,52.077235,53.037538,57.037530,57.047770,52.067967,...,39.696712,49.908230,49.293596,50.845147,54.414164,45.784335,54.537104,89.059465,48.467351,0.0
762,4167.0,416737210.0,85.624081,81.023997,31.280333,61.421135,77.024664,78.972593,43.479499,83.545696,...,39.696712,49.908230,49.293596,50.845147,54.414164,45.784335,55.775336,87.434605,72.641420,0.0
1016,5331.0,533137210.0,58.800608,20.222431,39.092771,52.077235,25.036721,47.769552,57.694677,55.270462,...,39.696712,33.083064,55.637707,28.481403,54.414164,45.784335,54.537104,70.213583,50.999669,0.0
979,5179.0,517919110.0,34.472057,46.463102,39.092771,52.077235,53.037538,57.037530,57.047770,52.067967,...,39.696712,49.908230,49.293596,50.845147,54.414164,45.784335,54.537104,77.933779,48.467351,0.0

In [ ]:
test_data

,c_code,B_C,OPEN,SC,ST,VJ,NT1,NT2,NT3,OBC,...,ST_OH,VJ_OH,OBC_OH,NT2_OH,NT3_OH,PWD,DEF,TFWS,EWS,MI
1100,6609.0,660937210.0,47.238762,46.463102,17.905620,52.077235,53.037538,17.435455,57.047770,23.481577,...,39.696712,49.908230,32.212708,50.845147,54.414164,45.784335,54.537104,59.063929,48.260139,0.0
1093,6545.0,654524210.0,54.025429,15.172202,39.092771,32.590889,42.803432,24.799256,12.935323,12.177332,...,39.696712,49.908230,49.293596,50.845147,54.414164,45.784335,54.537104,64.017279,66.813781,0.0
810,4613.0,461324510.0,62.810375,51.432633,32.750475,52.077235,59.203036,48.770084,57.047770,59.013588,...,36.159410,45.670411,57.475330,56.362859,54.414164,45.784335,22.250072,70.926321,5.387349,0.0
787,4177.0,417719110.0,11.127809,46.463102,39.092771,52.077235,53.037538,57.037530,57.047770,52.067967,...,39.696712,49.908230,49.293596,50.845147,54.414164,45.784335,54.537104,77.933779,48.467351,0.0
410,3198.0,319824210.0,71.035896,53.498953,39.092771,54.124615,26.789008,59.419246,57.047770,61.502280,...,39.696712,49.908230,51.107204,50.845147,54.414164,45.784335,41.187314,83.324668,62.395425,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,1128.0,112891210.0,65.972598,58.259379,39.092771,60.504324,50.561478,52.824641,42.518603,61.718263,...,39.696712,49.908230,51.129882,50.845147,54.414164,45.784335,54.537104,77.066692,51.107204,0.0
764,4167.0,416761210.0,46.737413,27.764359,12.099832,32.150713,32.941141,36.814968,57.047770,28.409640,...,39.696712,49.908230,49.293596,50.845147,54.414164,45.784335,31.773458,74.226024,5.914393,0.0
719,4143.0,414319110.0,1.875110,46.463102,39.092771,52.077235,53.037538,57.037530,57.047770,52.067967,...,39.696712,49.908230,49.293596,50.845147,54.414164,45.784335,54.537104,77.933779,10.059995,0.0
199,2135.0,213591110.0,34.330799,4.606001,39.092771,31.501519,53.037538,57.037530,29.352876,14.476016,...,44.741838,49.908230,46.093491,50.845147,54.414164,45.784335,54.537104,52.824641,41.187314,0.0
383,3192.0,319291110.0,82.776435,74.347363,28.699508,59.682905,51.931371,77.145836,75.673880,75.056695,...,59.419246,49.908230,58.415784,50.845147,54.414164,45.918764,54.537104,88.467188,74.745321,0.0

In [ ]:
# Train the model
model = LogisticRegression()

In [ ]:
score=pd.DataFrame(df1,columns= ['OPEN','SC','ST','VJ','NT1','NT2','NT3','OBC','OPEN_OH','SC_OH','ST_OH','VJ_OH',
 'OBC_OH','NT2_OH','NT3_OH','PWD','DEF','TFWS','EWS','MI'])
score

,OPEN,SC,ST,VJ,NT1,NT2,NT3,OBC,OPEN_OH,SC_OH,ST_OH,VJ_OH,OBC_OH,NT2_OH,NT3_OH,PWD,DEF,TFWS,EWS,MI
0,80.627048,69.971831,47.158209,76.180109,77.066692,63.408306,72.576506,75.581452,58.560730,46.897037,39.696712,49.908230,49.293596,50.845147,54.414164,45.784335,37.646973,89.407761,70.213583,0.0
1,96.910215,94.877150,79.785140,91.141989,95.844880,93.646629,94.147125,96.361296,58.560730,46.897037,39.696712,49.908230,49.293596,50.845147,54.414164,50.999669,76.575655,97.313433,95.705958,0.0
2,95.363469,92.372221,79.324889,91.103877,91.614983,92.529441,88.982370,95.116803,58.560730,46.897037,39.696712,49.908230,49.293596,50.845147,54.414164,43.300213,85.848519,95.920972,94.701578,0.0
3,85.687063,82.285904,61.226979,75.417805,85.404358,82.567085,78.147358,84.748026,58.560730,46.897037,39.696712,49.908230,49.293596,50.845147,54.414164,69.168597,34.769810,89.919237,80.871831,0.0
4,91.969178,87.713674,44.607596,79.994973,89.020917,87.264099,85.837479,91.969104,58.560730,46.897037,39.696712,49.908230,49.293596,50.845147,54.414164,27.595494,80.257052,93.714119,91.186473,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1151,5.026062,46.463102,39.092771,52.077235,53.037538,57.037530,57.047770,52.067967,53.740118,38.641709,39.696712,49.908230,8.259644,50.845147,54.414164,45.784335,54.537104,77.933779,25.460330,0.0
1152,65.645289,18.840167,39.092771,52.077235,43.305113,51.260095,56.765059,61.839352,73.341193,48.222423,39.696712,45.988408,73.274276,67.482418,54.414164,45.784335,42.653117,79.074633,71.236742,0.0
1153,10.771849,46.463102,39.092771,52.077235,53.037538,57.037530,57.047770,52.067967,22.250072,1.595488,39.696712,49.908230,49.293596,50.845147,54.414164,45.784335,9.944536,77.933779,10.646550,0.0
1154,31.364660,46.463102,39.092771,52.077235,53.037538,57.037530,57.047770,52.067967,1.196613,46.897037,39.696712,49.908230,49.293596,50.845147,54.414164,45.784335,54.537104,77.933779,19.847440,0.0
1155,86.873430,74.752348,35.698374,65.785425,72.550832,80.388682,87.027500,84.723732,58.560730,46.897037,39.696712,49.908230,49.293596,50.845147,54.414164,57.063856,81.977805,91.897928,87.082806,0.0

In [ ]:
# Function to generate list of recommended colleges
def get_recommended_colleges(c_code, B_C, OPEN, SC, ST, VJ, NT1, NT2, NT3, OBC, PWD, DEF, TFWS, EWS, MI):
  user_data = pd.score

In [ ]:
# Function to generate list of recommended colleges
def get_recommended_colleges(df1):
  user_data_path = pd.score
  user_data = get_df(user_data_path)
  user_data.head()
  predicted_prob = model.predict_proba(user_data)[:, 1]

In [ ]:
# Filter the college data to only include colleges that are part of Mumbai University, have an open reservation, and offer Computer Engineering
r_c = df[(df['h_u'] == 'Mumbai University')  & (df['B_N'] == 'Computer Engineering')]

# Filter the recommended colleges to only include those with a cutoff within 5% of the student's score of 95%
r_c = r_c[(r_c['OPEN'] >= 93) & (r_c['OPEN'] <= 97)]

# Sort the recommended colleges by intake in descending order
r_c = r_c.sort_values(by='OPEN', ascending=False)

# Display the recommended college list with the desired columns
r_c[['h_u', 'c_code', 'cn', 'B_C', 'B_N', 'OPEN']]

,h_u,c_code,cn,B_C,B_N,OPEN
289,Mumbai University,3139.0,"Vidyalankar Institute of Technology,Wadala, M...",313924510.0,Computer Engineering,96.668239
345,Mumbai University,3184.0,Fr. Conceicao Rodrigues College of Engineering...,318424510.0,Computer Engineering,96.657040
405,Mumbai University,3197.0,Agnel Charities' FR. C. Rodrigues Institute o...,319724510.0,Computer Engineering,96.516323
326,Mumbai University,3176.0,"Thakur College of Engineering and Technology, ...",317624510.0,Computer Engineering,96.118317
453,Mumbai University,3208.0,"Don Bosco Institute of Technology, Mumbai",320824510.0,Computer Engineering,95.836975
442,Mumbai University,3204.0,"St. Francis Institute of Technology,Borivali,...",320424510.0,Computer Engineering,95.296693
464,Mumbai University,3211.0,"S.I.E.S. Graduate School of Technology, Nerul,...",321124510.0,Computer Engineering,95.222522
474,Mumbai University,3214.0,Xavier Institute Of Engineering C/O Xavier Tec...,321424510.0,Computer Engineering,94.518918
284,Mumbai University,3135.0,Manjara Charitable Trust's Rajiv Gandhi Instit...,313524510.0,Computer Engineering,94.380211
366,Mumbai University,3189.0,Padmabhushan Vasantdada Patil Pratishthans Col...,318924510.0,Computer Engineering,93.777554
430,Mumbai University,3201.0,Rizvi Education Society's Rizvi College of Eng...,320124510.0,Computer Engineering,93.562109

In [ ]:
r_c = df[(df['h_u'] == 'Savitribai Phule Pune University')  & (df['B_N'] == 'Information Technology')]
r_c = r_c[(r_c['OPEN'] >= 70) & (r_c['OPEN'] <=80 )]
r_c = r_c.sort_values(by='OPEN', ascending=False)
r_c[['h_u', 'c_code', 'cn', 'B_C', 'B_N', 'OPEN']]

,h_u,c_code,cn,B_C,B_N,OPEN
1125,Savitribai Phule Pune University,6634.0,"KJEI's Trinity Academy of Engineering, Yewale...",663424610.0,Information Technology,79.194732
922,Savitribai Phule Pune University,5161.0,Dr. Vithalrao Vikhe Patil College of Engineer...,516124610.0,Information Technology,78.912409
1009,Savitribai Phule Pune University,5330.0,Pune Vidyarthi Griha's College Of Engineering...,533024610.0,Information Technology,77.924510
881,Savitribai Phule Pune University,5125.0,Pravara Rural Education Society's Sir Visvesv...,512524610.0,Information Technology,72.472683
974,Savitribai Phule Pune University,5177.0,Matoshri College of Engineering and Research ...,517724610.0,Information Technology,71.424304

In [ ]:
r_c = df[((df['h_u'] == 'Sant Gadge Baba Amravati University') | (df['h_u'] == 'Dr. Babasaheb Ambedkar Technological University,Lonere'))  & (df['B_N'] == 'Civil Engineering')]
r_c = r_c[(r_c['OPEN'] >= 35) & (r_c['OPEN'] <=40 )]
r_c = r_c.sort_values(by='OPEN', ascending=False)
r_c[['h_u', 'c_code', 'cn', 'B_C', 'B_N', 'OPEN']]

,h_u,c_code,cn,B_C,B_N,OPEN
1092,Dr. Babasaheb Ambedkar Technological Universit...,6545.0,Samarth Education Trust's Arvind Gavali Colleg...,654519110.0,Civil Engineering,38.173880
76,Sant Gadge Baba Amravati University,1127.0,Jagadambha Bahuuddeshiya Gramin Vikas Sanstha'...,112719110.0,Civil Engineering,37.206627
181,Dr. Babasaheb Ambedkar Technological Universit...,2131.0,- Terna Public Charitable Trust's College of E...,213119110.0,Civil Engineering,36.682710
81,Sant Gadge Baba Amravati University,1128.0,Prof Ram Meghe College of Engineering and Mana...,112819110.0,Civil Engineering,35.484093
262,Dr. Babasaheb Ambedkar Technological Universit...,3033.0,Dr. Babasaheb Ambedkar Technological Universit...,303319110.0,Civil Engineering,35.090615

In [ ]:
r_c = df[((df['h_u'] == 'Savitribai Phule Pune University') | (df['h_u'] == 'Mumbai University'))  & ((df['B_N'] == 'Computer Engineering') | (df['B_N'] == 'Information Technology'))]
r_c = r_c[(r_c['OPEN'] >= 93) & (r_c['OPEN'] <=97 )]
r_c = r_c.sort_values(by='OPEN', ascending=False)
r_c[['h_u', 'c_code', 'cn', 'B_C', 'B_N', 'OPEN']]

,h_u,c_code,cn,B_C,B_N,OPEN
350,Mumbai University,3185.0,Vivekanand Education Society's Institute of Te...,318524610.0,Information Technology,96.715856
289,Mumbai University,3139.0,"Vidyalankar Institute of Technology,Wadala, M...",313924510.0,Computer Engineering,96.668239
345,Mumbai University,3184.0,Fr. Conceicao Rodrigues College of Engineering...,318424510.0,Computer Engineering,96.657040
458,Mumbai University,3209.0,K J Somaiya Institute of Engineering and Infor...,320924610.0,Information Technology,96.573961
405,Mumbai University,3197.0,Agnel Charities' FR. C. Rodrigues Institute o...,319724510.0,Computer Engineering,96.516323
326,Mumbai University,3176.0,"Thakur College of Engineering and Technology, ...",317624510.0,Computer Engineering,96.118317
453,Mumbai University,3208.0,"Don Bosco Institute of Technology, Mumbai",320824510.0,Computer Engineering,95.836975
406,Mumbai University,3197.0,Agnel Charities' FR. C. Rodrigues Institute o...,319724610.0,Information Technology,95.761400
290,Mumbai University,3139.0,"Vidyalankar Institute of Technology,Wadala, M...",313924610.0,Information Technology,95.617153
442,Mumbai University,3204.0,"St. Francis Institute of Technology,Borivali,...",320424510.0,Computer Engineering,95.296693
464,Mumbai University,3211.0,"S.I.E.S. Graduate School of Technology, Nerul,...",321124510.0,Computer Engineering,95.222522
454,Mumbai University,3208.0,"Don Bosco Institute of Technology, Mumbai",320824610.0,Information Technology,95.061748
465,Mumbai University,3211.0,"S.I.E.S. Graduate School of Technology, Nerul,...",321124610.0,Information Technology,95.045866
327,Mumbai University,3176.0,"Thakur College of Engineering and Technology, ...",317624610.0,Information Technology,94.882958
474,Mumbai University,3214.0,Xavier Institute Of Engineering C/O Xavier Tec...,321424510.0,Computer Engineering,94.518918
284,Mumbai University,3135.0,Manjara Charitable Trust's Rajiv Gandhi Instit...,313524510.0,Computer Engineering,94.380211
1071,Savitribai Phule Pune University,6004.0,"Government College of Engineering & Research,...",600424510.0,Computer Engineering,94.334795
443,Mumbai University,3204.0,"St. Francis Institute of Technology,Borivali,...",320424610.0,Information Technology,93.972153
366,Mumbai University,3189.0,Padmabhushan Vasantdada Patil Pratishthans Col...,318924510.0,Computer Engineering,93.777554
866,Savitribai Phule Pune University,5121.0,K. K. Wagh Institute of Engineering Education ...,512124510.0,Computer Engineering,93.705224
430,Mumbai University,3201.0,Rizvi Education Society's Rizvi College of Eng...,320124510.0,Computer Engineering,93.562109
475,Mumbai University,3214.0,Xavier Institute Of Engineering C/O Xavier Tec...,321424610.0,Information Technology,93.326207
285,Mumbai University,3135.0,Manjara Charitable Trust's Rajiv Gandhi Instit...,313524610.0,Information Technology,93.255094

In [ ]:
r_c = df[((df['h_u'] == 'Savitribai Phule Pune University') | (df['h_u'] == 'Mumbai University'))  & (df['B_N'] == 'Computer Engineering')]
r_c = r_c[(r_c['OPEN_OH'] >= 93) & (r_c['OPEN_OH'] <=97 )]
r_c = r_c.sort_values(by='OPEN_OH', ascending=False)
r_c[['h_u', 'c_code', 'cn', 'B_C', 'B_N', 'OPEN_OH']]

,h_u,c_code,cn,B_C,B_N,OPEN_OH
333,Mumbai University,3182.0,"Thadomal Shahani Engineering College, Bandra,...",318224510.0,Computer Engineering,96.948517
349,Mumbai University,3185.0,Vivekanand Education Society's Institute of Te...,318524510.0,Computer Engineering,96.930696
474,Mumbai University,3214.0,Xavier Institute Of Engineering C/O Xavier Tec...,321424510.0,Computer Engineering,96.333425
1071,Savitribai Phule Pune University,6004.0,"Government College of Engineering & Research,...",600424510.0,Computer Engineering,95.845273
345,Mumbai University,3184.0,Fr. Conceicao Rodrigues College of Engineering...,318424510.0,Computer Engineering,94.974869
405,Mumbai University,3197.0,Agnel Charities' FR. C. Rodrigues Institute o...,319724510.0,Computer Engineering,94.424351
366,Mumbai University,3189.0,Padmabhushan Vasantdada Patil Pratishthans Col...,318924510.0,Computer Engineering,93.066001

In [ ]:
r_c = df[((df['h_u'] == 'Savitribai Phule Pune University') | (df['h_u'] == 'Rashtrasant Tukadoji Maharaj Nagpur University'))  & (df['B_N'] == 'Mechanical Engineering')]
r_c = r_c[(r_c['VJ'] >= 30) & (r_c['VJ'] <=35)]
r_c = r_c.sort_values(by='VJ', ascending=False)
r_c[['h_u', 'c_code', 'cn', 'B_C', 'B_N', 'VJ']]

,h_u,c_code,cn,B_C,B_N,VJ
764,Rashtrasant Tukadoji Maharaj Nagpur University,4167.0,"Yeshwantrao Chavan College of Engineering,Wana...",416761210.0,Mechanical Engineering,32.150713
618,Rashtrasant Tukadoji Maharaj Nagpur University,4025.0,"Government College of Engineering, Nagpur",402561210.0,Mechanical Engineering,31.501519
932,Savitribai Phule Pune University,5162.0,Amrutvahini Sheti & Shikshan Vikas Sanstha's ...,516261210.0,Mechanical Engineering,31.501519